html{
	font-family: 'Quicksand', sans-serif;
	background-color: #87d1ff;
}

/*Global Styles*/

.dark{
	color: white;
}

body{
	padding: 0;
	margin: 0;
}

.button:hover{
	color: black;
	background-color: white;
	border-radius: 5px;
	transition: 0.2s;
}

.button{
		padding: 10px 10px 10px 10px;
		margin-bottom: 5px;
}

section {
	border-bottom: 2px solid;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 25px 0 0 0;
}

a{
	text-decoration: none;
	color: black;
	padding-bottom: 25px;
}

/* Navigation */

header{
	background-color: #ef6e95;
	padding: 0;
	margin: 0;
	border-bottom: 3px solid #ffffff;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
}

nav {
	min-height: 115px;
}

nav .top-grid{
	display: grid;
	grid-template-columns: 33.333% 33.333% 33.333%;
	text-align: center;
}

nav .button-grid{
	text-align: center;
}

nav .ul{
	list-style: none;
	margin: auto;
}

nav li{
	list-style: none;
	display: inline-block;
	margin: 0 2.5% 0 2.5%;
	text-align: center;
	cursor: pointer;
}

#pad{
	min-height: 115px;
}

/* About */

#about .parallax{
	background-image: url("../img/cover.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding-bottom: 10px;
}

#about p{
	margin: 10px 15% 10px 15%;
}

/* Castles */

#castles ul{
	padding-left: 0;
}

#castles li{
	list-style: none;
	display: inline-block;
	margin: 0 2.5% 0 2.5%;
	border-bottom: 5px solid #87d1ff;
}

#castles li:hover{
	border-bottom: 5px solid #ef6e95;
	cursor: pointer;
	transition: 0.2s;
}

#castles .current{
	border-bottom: 5px solid white;
	transition: 0.2s;
}

#castles .castle-grid{
	display: grid;
	grid-template-columns: 33.333% 33.333% 33.333%;
}

#castles .showing{
	display: block;
}

#castles .hiding{
	display: none;
}

/* CTA */

#cta a{
	display: block;
	color: black;
}

/* Reviews */

#reviews .parallax{
	background-image: url("../img/reviews.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding-bottom: 10px;
}

#reviews .review-grid{
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 0 2% 0 2%;
}

#reviews img{
	width: 80%;
	max-width: 180px;
	margin: auto;
}

/* Booking */

#booking .parallax{
	background-image: url("../img/booking.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding-bottom: 10px;
}

#booking ul{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 20px 0 20px;
}

#booking li{
	font-size: 11px;
}
