html{
	font-family: 'Quicksand', sans-serif;
}

/*Global Styles*/

body{
	padding: 0;
	margin: 0;
	font-size: 2em;
}

.button a{
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	transition: 0.5s;
	color: white;
}

.button a:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}

.button2 {
	border: 5px solid #bcbcbc;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	transition: 0.5s;
	color: black;
	list-style: none;
	display: inline-block;
	margin: 0 1%;
	transition: 0.2s;
}

.button2:hover{
	border-bottom: 5px solid #87D1FF;
	cursor: pointer;
}

section {
	padding: 5vh 0;
	text-align: center;
}

h2 {
	margin: 0;
	padding: 25px 0 0 0;
}

a{
	text-decoration: none;
	display: block;
}

a:hover {
	cursor: pointer;
	text-decoration: none;	
}

img{
	border-radius: 5px;
	width: 100%;
}

.vertical-align {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

ul {
	padding: 0;
}

/* Navigation */

header{
	background-color: #ef6e95;
	color: white;
}

header .mobile-logo-banner{
	margin: 0 20% 0 20%;
	padding: 10px;
}

header .mobile-logo-banner img{
	max-width: 100%;
}

nav .mobile-nav{
	background-color: #ef6e95;
	text-align: center;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 1;
	font-size: 0.6em;
}

nav .mobile-nav ul {
	margin: 0;
}

nav p{
	font-size: 1em;
	margin-top: 0;
}

nav a {
	color: white;
}

nav .navbar-nav{
	background-color: #ef6e95;
	text-align: center;
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
}

nav .navbar-nav .nav-buttons{
	margin: auto 0 auto 0;
}

nav .ul{
	list-style: none;
	margin: auto;
}

nav li{
	list-style: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.icon-large {
	font-size: 8em;
	margin: auto;
	padding: 10%;
}

/* About */
#about {
	color: white;
	background: url(../img/cover.jpg);
	background-size: cover;
	background-position: center;
}

#about img {
	width: 75%;
}

#about a {
	color: white;
}

/* Features */

#features {
	background: url(../img/wave5.svg) no-repeat center center;
	background-size: cover;
}

/* Castles */
#castles {
	background: #EF6E95;
	color: white;
}

#castles ul{
	padding-left: 0;
}

#castles li.current {
	border-bottom: 5px solid #ffe65b;
}

/* CTA */

#cta {
	padding: 0;
}

#cta a{
	background-color: rgb(119, 193, 240);
	padding-bottom: 25px;
	transition: 0.5s;
	color: white;
}

#cta a:hover{
	background-color: rgb(255, 60, 119);
	color: white;
}

/* Reviews */

#reviews {
	background: url(../img/wave4.svg) center center no-repeat;
	background-size: 100%;
}

#reviews a {
	color: black;
}

/* Booking */

#booking {
	background: url(../img/wave.svg) center center no-repeat;
	background-size: cover;
}
#booking li{
	list-style: none;
	font-size: 0.7em;
}

/* Nav pads */

#desktop-pad{
	display: none;
}

#mobile-pad{
	min-height: 96px;
}

/* Competition */

#competition-hero {
	background: url(../img/cover.jpg) center no-repeat;
	background-size: cover;
	color: white;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#terms, #privacy {
	text-align: left;
}

@media only screen and (min-width: 900px) {
	header .navbar-nav .desktop-logo-banner {
		max-width: 100%;
	}

	header .navbar-nav .desktop-logo-banner img{
		max-width: 380px;
		width: 100%;
		margin: auto;
		padding-top: 15px;
	}

	header .navbar-nav .desktop-logo-banner h2{
		margin: auto;
	}

	header .mobile-nav{
		display: none;
	}

	header .mobile-logo-banner{
		display: none;
	}

	header nav .navbar-nav{
		display: block;
		max-height: 208px;
		z-index: 1;
	}

	#desktop-pad{
		display: block;
	}

	#mobile-pad{
		display: none;
	}
}
